
body {
	font-family:sans-serif;
}

input[name="fen"] {
	width: 550px;
}
});
#playerta #opponentta{
  border:1px solid black;
  padding:10px;
  width:95%;
  height:200px;
  margin:20px auto;    
}

input[type="submit"],
input[type="button"] {
	font-size: 12pt;
}

textarea[name="pgn"] {
	width: 500px;
	font-family: sans-serif;
}

select[name="winninggamemove"] {
	width: 8em;
}
select[name="move"] {
	width: 7em;
}

select[name="endgamemove"] {
	width: 6em;
}
select[name="surrendermove"] {
	width: 6em;
}
select[name="Shantimove"] {
	width: 6em;
}
select[name="ReCallmove"] {
	width: 6em;
}
select[name="moves"] {
	width: 1em;
}


.KingMoves {
	display: flex;
	width: 100%;
}

.KingMoves>div:nth-child(1) {
	flex: 8%;
}

.KingMoves>div:nth-child(2) {
	flex: 100%;
}
.KingMoves>div:nth-child(3) {
	flex: 200%;
}
.KingMoves>div:nth-child(4) {
	flex: 200%;
}
.KingMoves>div:nth-child(5) {
	flex: 200%;
}
.KingMoves>div:nth-child(6) {
	flex: 10%;
}

.two_columns {
	display: flex;
	width: 95%;
}
.two_columns>div:nth-child(1) {
	flex: 20%;
}

.two_columns>div:nth-child(2) {
	flex: 20%;
}

.two_columns>div:nth-child(3) {
	flex: 5%;
}

#graphical_board {
	table-layout: fixed;
	border-collapse: collapse;
}

#graphical_board td {
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	font-weight: bold;
	font-family: "Arial Unicode MS", "Lucida Console", Courier, monospace;
	cursor: move;
}

.naaglok {
	background-color: Orange;
}


.blacktruce {
	background-color: hotpink;
}

.blackcastle {
	background-color: Yellow;
}

.whitetruce {
	background-color: lightpink;
}
.whitecastle {
	background-color: #ffff66;
}

.black {
	background-color: #769656;
}

.white {
	background-color: #EEEED2;
}

.status_box {
	background-color: #F0F0F0;
	border: 1px solid black;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	width: 310px;
	margin-bottom: 5px;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

td, th {
	border: 1px solid black;
}

h1 {
	margin-top: 0;
}

.octagonWrap{

	position: relative;
	}
.octagonC {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
	}
.octagonT {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
	}	
.octagonC:before {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	transform: rotate(45deg);
	background: rgba(133, 191, 91, 0.3);
	content: '';
	border: 3px solid red;
	}
.octagonT:before {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	transform: rotate(45deg);
	background: rgba(133, 191, 91, 0.3);
	content: '';
	border: 3px solid white;
	}

.tab {
  display: inline-block;
  background-color: grey;
  padding: 0.75rem;
  color: #fff;
}

.selected {
  background-color: black;
}

.tab-panel {
  
  border: 2px solid black;
  min-height: 50px;
  max-width: 250px;
  padding: 1rem;
}

.hidden {
  display:none;
}

body {
  font-size: 80%;
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

ul#tabs,ul#tabs2 {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0 0 0.3em 0;
}

ul#tabs li,ul#tabs2 li {
  display: inline;
}

ul#tabs li a,ul#tabs2 li a {
  color: #42454a;
  background-color: #dedbde;
  border: 1px solid #c9c3ba;
  border-bottom: none;
  padding: 0.3em;
  text-decoration: none;
}

ul#tabs li a:hover,ul#tabs2 li a:hover {
  background-color: #f1f0ee;
}

ul#tabs li a.selected,ul#tabs2 li a.selected {
  color: #000;
  background-color: #f1f0ee;
  font-weight: bold;
  padding: 0.7em 0.3em 0.38em 0.3em;
}

div.tabContent {
  border: 1px solid #c9c3ba;
  padding: 0.5em;
  background-color: #f1f0ee;
}

div.tabContent.hide {
  display: none;
}
.center {
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideform {
    display: none;
}